!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title HabitTracker
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .notice= notice
    .alert= alert
    .ht-link-to-root
      = link_to('Link to root', root_url)
    - if user_signed_in?
      .ht-signed-in-as
        Signed in as: #{current_user.email}
      .ht-sign-out
        = link_to('Sign out', destroy_user_session_url, method: :delete)
    - else
      .ht-sign-in
        = link_to('Sign in', new_user_session_url)
    = yield
